page-login {
  .logo{
  	width:100px;
  }
  .headerImage{
  	width: 150px;
  	padding-top: 30px;
  	padding-bottom: 10px;
  }
  .penuh{
  	width:95%;
  }
  .separuh{
  	width:45%;
  }
  .spacer{
  	height: 20px;
  }
}
